header {
    position: relative;
    padding: 20px;
    text-align: center;
    background-color: #2C3E50;
    color: #ECF0F1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header .logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px;
    height: auto;
}

header h1 {
    margin: 0;
}

nav.main-nav {
    background-color: #2C3E50;
    padding: 10px;
}

nav.main-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav.main-nav ul li {
    display: inline;
    margin-right: 10px;
}

nav.main-nav ul li a {
    text-decoration: none;
    color: #5DADE2;
}

main {
    padding: 20px;
    background-color: #2C3E50;
}

aside.content-list {
    float: right;
    width: 25%;
    background-color: #2C3E50;
    padding: 10px;
    box-sizing: border-box;
    margin-right: 20px;
    border: 1px solid #ccc;
}

aside.content-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

aside.content-list ul li {
    margin-bottom: 10px;
}

aside.content-list ul li a {
    text-decoration: none;
    color: #5DADE2;

section {
    margin-bottom: 20px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 8px;
}

figure {
    max-width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img.float-left {
    float: left;
    margin: 0 10px 10px 0;
    max-width: 250px;
    height: auto;
}

img.float-right {
    float: right;
    margin: 0 0 10px 10px;
    max-width: 250px;
    height: auto;
}

figcaption {
    text-align: center;
    font-style: italic;
    margin-top: 5px;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table caption {
    font-weight: bold;
    margin-bottom: 10px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #34495E;
    color: #ECF0F1;
}

footer {
    background-color: #2C3E50;
    padding: 10px;
    text-align: center;
    color: #ECF0F1;
    margin-top: 20px;
}

footer p {
    margin: 5px 0;
}

footer a {
    color: #5DADE2;
    text-decoration: none;
}

