body {
    margin: 0;
    font-family: 'Comic Sans MS', cursive;
    background-color: #34495E;
    color: #ECF0F1;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 20px;
    background-color: #2C3E50;
    color: #ECF0F1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header .logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px;
    height: auto;
}

header h1 {
    margin: 0;
}

nav.main-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #2C3E50;
    padding: 10px;
}

nav.main-nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

nav.main-nav ul li {
    margin-right: 10px;
}

nav.main-nav ul li.right {
    margin-left: auto;
}

nav.main-nav ul li a {
    text-decoration: none;
    color: #5DADE2;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #2C3E50;
}

.team-gallery .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.team-member {
    flex: 1 1 30%;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #34495E;
    color: #ECF0F1;
}

.team-member img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.team-member figcaption {
    text-align: center;
    font-style: italic;
    margin-top: 5px;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #2C3E50;
    color: #ECF0F1;
    margin-top: 20px;
}

.footer-column {
    flex: 1;
    padding: 10px;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    text-decoration: none;
    color: #5DADE2;
}
