.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr; 
    grid-template-rows: auto auto 1fr auto;
    gap: 10px; 
}

.grid-header {
    grid-column: 1 / -1;
}

.grid-nav {
    grid-column: 1 / 2; 
    grid-row: 2 / 3; 
}

.grid-aside {
    grid-column: 3 / 4; 
    grid-row: 2 / 3; 
}

.products .grid-main {
    grid-column: 2 / 3;
    grid-row: 2 / 3; 
}

.grid-footer {
    grid-column: 1 / -1; 
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px;
    padding: 10px; 
}

.footer-column {
    text-align: center;
}

.grid-footer ul {
    list-style-type: none;
    padding: 0; 
}

.grid-footer a {
    color: #FFD700; 
    text-decoration: none; 
