header, footer, section, nav {
    background-color: #2C3E50;
    padding: 10px;
    color: #ECF0F1;
    font-family: 'Comic Sans MS', cursive;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Comic Sans MS', cursive;
    font-weight: normal;
    color: #ECF0F1;
}

a:link, a:visited {
    color: #3498DB;
    font-family: 'Comic Sans MS', cursive;
}

a:hover {
    color: #E74C3C;
    font-family: 'Comic Sans MS', cursive;
}

.bg-light {
    background-color: #34495E;
    color: #ECF0F1;
}

.text-primary {
    color: #1ABC9C;
    font-family: 'Comic Sans MS', cursive;
}
