header, footer, section, nav {
    background-color: #2C3E50;
    padding: 10px;
    color: #ECF0F1;
    font-family: 'Comic Sans MS', cursive;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Comic Sans MS', cursive;
    font-weight: normal;
    color: #ECF0F1;
}

a:link, a:visited {
    color: #5DADE2;
    font-family: 'Comic Sans MS', cursive;
}

a:hover {
    color: #E74C3C;
    font-family: 'Comic Sans MS', cursive;
}

a.gold-link:link, a.gold-link:visited {
    color: #FFD700;
}

a.gold-link:hover {
    color: #E74C3C;
}

.bg-light {
    background-color: #34495E;
    color: #ECF0F1;
}

.text-primary {
    color: #1ABC9C;
    font-family: 'Comic Sans MS', cursive;
}

form {
    width: 60%;
    margin: 0 auto;
    background-color: #34495E;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #ECF0F1;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

legend {
    font-size: 1.5em;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-top: 10px;
}

input, textarea, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"], input[type="reset"] {
    width: auto;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #1ABC9C;
    color: #ECF0F1;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover, input[type="reset"]:hover {
    background-color: #16A085;
}
