header, footer, section, nav {
    background-color: #f0f0f0;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: Arial, sans-serif;
    font-weight: normal;
    color: #333;
}


a:link {
    color: #1a73e8;
}

a:visited {
    color: #4b0082;
}

a:hover {
    color: #ff6347;
}


.bg-light {
    background-color: #f9f9f9;
}

.text-primary {
    color: #007bff; /
}
